<?xml version='1.0' encoding='utf-8'?>
<widget id="com.equipo3.clvgamehub" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CLV Game Hub</name>
    <description>Aplicación híbrida de acceso e interacción con servicio de juegos</description>
    
    <author>
        David Bravo
    </author>
    <author>
        Adrián Luque
    </author>
    <author>
        Ignacio Javier Martínez Sánchez
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <access origin="http://x.x.x.x/" />
    <access origin="http://x.x.x.x/*" />
</widget>
